<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_abarrotesvilla">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_AbarrotesVilla"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Proveedores"
            android:label="Proveedores"/>
        <activity
            android:name=".PerfilUsuario"
            android:label="@string/str_perfilUser" />
        <activity
            android:name=".ControlUsuario"
            android:label="@string/str_controlUser" />
        <activity
            android:name=".PuntoVenta"
            android:label="@string/str_puntoVenta" />
        <activity
            android:name=".ProductosActivity"
            android:label="@string/str_Almacén" />
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/str_MenuPrincipal" />
        <activity
            android:name=".MenuPrincipalTipoUser"
            android:label="@string/str_MenuPrincipal" />
        <activity
            android:name=".RegistrarActivity"
            android:label="@string/str_Registrar" />
        <activity
            android:name=".Login"
            android:label="@string/str_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>